* {
    box-sizing: border-box;
  }
  
  /* background*/
body {
  background-image: url("../images/workspace-g5ac373d41_1920-min.jpg");
  background-color: transparent;
  background-repeat: repeat-y;
  
}
  
  /* Header/Blog Title */
  .blogTitle {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    padding-top: 120px;
    
  }
  .blogTitle h2{
    color: #fff;
  }
  
  /*Aside*/
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  .scrollDiv{
    height: 1000px;
    overflow: hidden;
    overflow-y: scroll;
  }

  .scrollDiv::-webkit-scrollbar{
    width: 10px;
    background: #B4B4B4;
    
  }
  .scrollDiv::-webkit-scrollbar-thumb{
    background: rgba(255,255,255, .8);
    border-radius: 10px;
    border-radius: 2px solid #B4B4B4;
    opacity: 1; 
  }
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /*Imagenes de Post*/
  .blogImage{
    width: 100%;
    
  }
  
  /* Cards */
  .card {
     background-color: white;
     padding: 20px;
     border-radius: 15px;
     border-style: ridge;
     border-color: #10056B;
     margin-top: 20px;
     margin-left: 40px;
     margin-right: 20px;
  }
  
  /* limpiar floats después de las columnas */
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 40px;/*para el footer*/
  }
  

  
  /* Responsive*/
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }